<mat-toolbar color="primary">
  <span>Aplicação para teste técnico (importacão de XML de agentes para CCEE)</span>
</mat-toolbar>

<div class="basic-container">

  <mat-grid-list cols="2" rowHeight="70px">
    <mat-grid-tile>
      <button mat-fab extended color="primary" (click)="fileUpload.click()" [disabled]="loading">
        <mat-icon>attach_file</mat-icon>
        Anexar arquivo(s) XML.
      </button>
    </mat-grid-tile>

    <mat-grid-tile>

      <div *ngIf="!uploadConcluido && myFiles && myFiles.length>0">
        <button mat-fab extended color="warn" (click)="upload()" [disabled]="loading">
          <mat-icon>cloud_upload</mat-icon>
          Importar ({{selectedFiles.length}} selecionado(s))
        </button>
      </div>

      <div *ngIf="uploadConcluido">
        <button mat-fab extended color="warn" (click)="reset()">
          <mat-icon>cleaning_services</mat-icon>
          Limpar
        </button>
      </div>

    </mat-grid-tile>

  </mat-grid-list>


  <mat-divider></mat-divider>

  <input #fileUpload type="file" accept=".xml" hidden multiple (change)="selectFile($event)" />

  <div mat-subheader>Arquivos Selecionados</div>

  <div *ngIf="selectedFiles">

    <mat-list>

      <mat-list-item *ngFor="let file of myFiles">
        <mat-icon matListItemIcon color="accent">description</mat-icon>
        <div matListItemTitle>Nome: {{file.name | json}}
          <span [ngSwitch]="file.icone">
            <mat-icon matListItemIcon *ngSwitchCase="'cloud_upload'">{{file.icone}}</mat-icon>
            <mat-spinner *ngSwitchCase="'sync'" [diameter]="24"></mat-spinner>
            <mat-icon matListItemIcon *ngSwitchCase="'done'">{{file.icone}}</mat-icon>
            <mat-icon matListItemIcon *ngSwitchCase="'emergency_home'">{{file.icone}}</mat-icon>
          </span>
        </div>
        <span matListItemLine>Status: {{file.status}}</span>

      </mat-list-item>
    </mat-list>
  </div>

</div>
